name: Prettier Check

on:
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prettier Check
        uses: creyD/prettier_action@v4.6
        with:
          only_changed: false
          prettier_options: --check "**/*.{js,ts,json,md,css,html,svelte}"
          prettier_plugins: "prettier-plugin-svelte"
          dry: true
